<html>
    <body>
        <h3>Escolher Accao</h3>
        <a href="insertPageForm.php">Inserir Pagina</a><br/>
		<a href="insertTypeForm.php">Inserir Tipo de Registo</a><br/>
		<a href="insertFieldForm.php">Inserir Campo</a><br/>
		<a href="insertRegistrationForm.php">Inserir Registo</a><br/>
		<br/>
		<a href="removePageForm.php">Remover Pagina</a><br/>
		<a href="removeTypeForm.php">Remover Tipo de Registo</a><br/>
		<a href="removeFieldForm.php">Remover Campo</a><br/>
		<br/>
		<a href="seePageForm.php">Ver Pagina</a><br/>
    </body>
</html>